version: 2
jobs:
  build:
    docker:
      - image: openstandia/keycloak-documentation-i18n

    working_directory: ~/repo

    environment:
      # Customize the JVM maximum heap limit
      MAVEN_OPTS: -Xmx2024m
    
    steps:
      - checkout
      - run: git clone --depth=1 https://github.com/keycloak/keycloak-documentation.git source

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "source/pom.xml" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run: cd source; mvn dependency:go-offline; cd ..;

      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "source/pom.xml" }}
        
      # run build
      - run: ./build-translation.sh

      - store_artifacts:
          path: ~/repo/translated/dist/keycloak-documentation-i18n.zip

      - save_cache:
          paths:
            - ~/repo/translated/dist
          key: dist-{{ epoch }}

  deploy:
    docker:
      - image: openstandia/keycloak-documentation

    working_directory: ~/repo

    steps:
      - restore_cache:
          keys:
            - dist-
      - run:
          name: deply to s3
          command: aws s3 sync ~/repo/translated/dist/ s3://keycloak-documentation/$CIRCLE_BRANCH/ --delete


workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build

